body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2B2B2B;
}
header {
    background-color: #2F3E46;
    color: white;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}
.header-title {
    font-size: 24px;
    font-weight: 500;
}
.logo {
    font-size: 24px;
    font-weight: 500;
}
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}
nav ul li {
    margin-left: 24px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    transition: opacity 0.3s ease;
}
nav ul li a:hover {
    opacity: 0.8;
}
.material-icons {
    vertical-align: middle;
    margin-right: 8px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2F3E46;
    color: white;
    padding: 10px 0;
}
.footer p {
    margin: 0;
}
.text-center{
    text-align: center;
}
.chat-container{
    display: flex; 
    flex-direction: column; 
    height: 90vh !important;
}
.chat-messages{
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    height: 90vh !important;
}
.chat-input{
    padding: 20px;
}
#chat-form {
    display: flex;
}
#chat-form textarea{
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-lines: 1000;
    height: 5vh;
    min-height: 5vh;
    max-height: 15vh;
}
#chat-form button {
    padding: 10px 20px;
    background-color: #2F3E46;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.chat-messages{
    display: flex;
    flex-direction: column;
}
.chat-messages .message{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    max-width: 70%;
}
.user-message{
    background-color: #FFBF00;
    color: black;
    align-self: flex-end;
    
}
.bot-message{
    color: white;
    background-color: #2F3E46;
    align-self: flex-start;
    white-space: nowrap;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.bot-message span{
    overflow: hidden;
    white-space: nowrap;
    text-wrap: wrap;
    margin: 0;
    animation: typing 2s steps(40, end);
}

#generating-animation{
    display: none;
    color: gray;
    letter-spacing: 2px;
    margin-left: 20px;
}

@keyframes loading {
    0% { content: "⠋"; }
    8.3% { content: "⠙"; }
    16.6% { content: "⠹"; }
    25% { content: "⠸"; }
    33.3% { content: "⠼"; }
    41.6% { content: "⠴"; }
    50% { content: "⠦"; }
    58.3% { content: "⠧"; }
    66.6% { content: "⠇"; }
    75% { content: "⠏"; }
    83.3% { content: "⠋"; }
    91.6% { content: "⠙"; }
    100% { content: "⠹"; }
}

#generating-animation b i span::before {
    content: "⠋";
    display: inline-block;
    animation: loading 1s linear infinite;
    font-size: 24px;
}


button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

button:disabled::after {
    content: " \1F6AB";  /* Unicode for 'no entry' sign */
    font-size: 1.2em;
    vertical-align: middle;
}

button:disabled:hover::before {
    content: "";
    position: absolute;
    background-color: #333;
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

button:not(:disabled):hover::before {
    content: "Disabled";
    position: absolute;
    background-color: #333;
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}